.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

body {
font-family: 'Roboto', sans-serif;
}
/*===================== COMPONENTS =====================*/
.logo-first {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
color: #4D5AE5;
}
    
.logo-second {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
color: #2E2F42;
}

.third-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
color: #2E2F42;
}

.description {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
color: #434455
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #4D5AE5;
    color: #E7E9FC
}
/*===================== HEADER =====================*/
.menu-link {
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
color: #2E2F42;
}

.contact-phone-number {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
color: #434455;
}

.contact-email {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
color: #434455;
}

.modal-btn {
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
cursor: pointer;

color: #4D5AE5;
}

/*===================== HERO =====================*/

.main-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 1.12px;

/*color: #FFFFFF;*/
}

.about {
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;

color: #2E2F42;
}

.about-description {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;

color: #434455;
}

.second-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;

color: #2E2F42;
}